<fieldset class="form-group">
    <div class="row">
        <div class="col-xs-6">{{ form_row(ingredient.name) }}</div>
        <div class="col-xs-2">{{ form_row(ingredient.quantity) }}</div>
        <div class="col-xs-2">{{ form_row(ingredient.unit) }}</div>
        <div class="col-xs-2"><a href="#" class="delete-ingredient-trigger">Supprimer cet ingrédient</a></div>
    </div>
</fieldset>