<fieldset class="form-group">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            {{ form_row(ingredient.ingredient, {'attr': {'class': 'autocomplete'}}) }}
        </div>
        <div class="col-xs-7 col-lg-3">
            {{ form_row(ingredient.quantity, {'attr': {'class': 'touchspin'}}) }}
        </div>
        <div class="col-xs-5 col-lg-2">
            {{ form_row(ingredient.unit) }}
        </div>
        <div class="col-xs-12 col-lg-1">
            <label class="control-label">&nbsp;</label>
            <button class="btn btn-danger pull-right delete-ingredient-trigger form-control"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
    </div>
</fieldset>