{% extends ':default:layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1>Mes recettes</h1>

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-xs-12 col-sm-3">
                    {% include '@App/Recipe/widgets/recipe-my.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}