{% extends ':default:layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <a href="{{ path('app.recipe.create') }}" class="btn btn-primary pull-right btn-action-new"><i class="glyphicon glyphicon-plus"></i><span class="hidden-xs"> Nouvelle recette</span></a>
        <h1>Mes recettes</h1>

        <div class="row">
            {% for recipe in recipes %}
                <div class="col-xs-12 col-sm-3">
                    {% include '@App/Recipe/widgets/recipe-my.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}