<div class="c-panel c-panel--default">
    <div class="c-panel__heading">
        <h2 class="c-panel__title">Recherche</h2>
    </div>
    <div class="c-panel__body">
        {{ form_start(form) }}

            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="form-group">
                        {{ form_row(form.pattern, {'attr': {'class': 'autocomplete'}}) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label for="control-label required">Au hasard</label>
                        <a href="#" class="btn btn-pink form-control" id="random-recipes-trigger"><i class="glyphicon glyphicon-refresh"></i> &nbsp; 3 recettes alétoires</a>
                    </div>
                </div>
            </div>

        {{ form_end(form) }}

        <br /><br />

        <div class="row" id="random-container"></div>
    </div>
</div>