.front {

  .bg-img-1 {
    background: rgba(0, 0, 0, 0) url("/img/home.jpg") repeat scroll 0 0;
  }

  .home {
    position: relative;
  }

  .parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }

  .bg-overlay {
    background: rgba(0, 0, 0, 0) linear-gradient(#444f5c, #334159) repeat scroll 0 0;
    height: 100%;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .home-wrapper {
    color: #ffffff;
    padding: 150px 0;
  }

  .section {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .title {
    font-weight: 300;
    line-height: 50px;
    margin-top: 0;
  }
  .sub-title {
    color: #97a0af;
    margin-bottom: 50px;
  }

  .service-item {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .service-item .service-detail p {
    color: #9aa7af;
    font-weight: 300;
    line-height: 24px;
  }

  .w-lg {
    min-width: 140px;
  }

}




