<p>
    Bonjour,
</p>

<p>
    Je t'envoie une invitation pour rejoindre le site Shopping List, que j'utilise moi-même.
</p>

<p>
    Il est très utile pour gérer facilement tes listes de courses de la semaine. <br>
    Tu peux également t'inspirer de recettes d'autres utilisateurs si tu es en manque d'inspiration. C'est très pratique.<br>
</p>
