<!DOCTYPE html>
<html{% if page is defined %} class="{{ page }}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Shopping List{% endblock %}</title>
        {% block base_stylesheets %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block base_head_javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block base_javascripts %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
