services:
    app.security.encoder.password:
      class: AppBundle\Service\Encoder\PasswordEncoder

    app.security.listener.authentication:
        class: AppBundle\EventListener\AuthenticationListener
        arguments:
            - "@security.token_storage"
            - "@session"
        tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }