{% extends 'base.html.twig' %}

{% block base_stylesheets %}
    {% stylesheets
    filter="compass"
    "@AppBundle/Resources/themes/default/compass/*.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/vendors/jquery-ui-bootstrap/jquery-ui-1.10.3.custom.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/vendors/jquery-ui-bootstrap/jquery.ui.1.10.3.ie.css') }}"/>
    {% endstylesheets %}
{% endblock base_stylesheets %}

{% block base_head_javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% endblock base_head_javascripts %}

{% block body %}
    <div class="container">

        {% for type, flashMessage in app.session.flashbag.all %}
            {% include '@App/flash-message.html.twig' with {'type': type, 'message': flashMessage.0 | raw} %}
        {% endfor %}

        {% block content %}
        {% endblock content %}

    </div><!-- /.container -->
{% endblock body %}

{% block base_javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ asset('assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js') }}"></script>
{% endblock base_javascripts %}
