html {
  min-height: 100%;
  position: relative;

  body {
    padding-top: 70px;
    margin-bottom: 60px;
    background-color: #f5f5f5;

    header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1030;
      background-color: #3bafda;

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }

      .navbar-brand {
        margin-right: 50px;
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px 0;

      border-top: 1px solid rgba(0, 0, 0, 0.1);
      color: #58666e;
      background-color: #eaeaea;
    }

    .c-panel {
      margin-bottom: 20px;

      border: medium none;
      border-radius: 0;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;

      .c-panel__heading {
        padding: 10px 20px;

        border: medium none;
        border-radius: 0;
        color: #fff;

        .c-panel__title {
          margin-bottom: 0;
          margin-top: 0;

          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        }
        .c-panel__subtitle {
          margin-bottom: 3px;
          margin-top: -3px;

          color: #cee4fd;
        }
      }
      .c-panel__body {
        padding: 20px;
      }

      &--default {
        .c-panel__heading {
          background-color: #e7e7e7;
          color: #797979;

          .c-panel__subtitle {
            color: inherit;
          }
        }
      }
      &--primary {
        .c-panel__heading {
          background-color: #3bafda;
        }
      }
      &--inverse {
        .c-panel__heading {
          background-color: #4c5667;
        }
      }
      &--border {
        border-radius: 3px;

        .c-panel__heading {
          padding: 10px 20px 0;

          background-color: #ffffff;
          border-radius: 3px;
          border-top: 3px solid #ccc;
        }

        &.c-panel--primary {
          .c-panel__heading {
            border-color: #3bafda;
            color: #3bafda;

            .c-panel__subtitle {
              color: inherit;
            }
          }
        }
      }
    }
  }
}