{% extends ':default:layout.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <h1>api.ai</h1>

        <div class="row">
            <div class="col-xs-12">

                <a href="{{ path('app.api.recipes.update') }}" target="_blank">update recipes</a>

            </div>
        </div>

    </div>
{% endblock content %}