app.recipe:
    path:     /recettes
    defaults: { _controller: AppBundle:Recipe:index }

app.recipe.my:
    path:     /mes-recettes
    defaults: { _controller: AppBundle:Recipe:my }

app.recipe.create:
    path:     /recettes/create
    defaults: { _controller: AppBundle:Recipe:create }

app.recipe.read:
    path:     /recettes/{id}/read
    defaults: { _controller: AppBundle:Recipe:read }
    requirements:
        id: \d+

app.recipe.update:
    path:     /recettes/{id}/update
    defaults: { _controller: AppBundle:Recipe:update }
    requirements:
        id: \d+

app.recipe.delete:
    path:     /recettes/{id}/delete
    defaults: { _controller: AppBundle:Recipe:delete }
    requirements:
        id: \d+

app.recipe.collect:
    path:     /recettes/{id}/collect
    defaults: { _controller: AppBundle:Recipe:collect }
    requirements:
        id: \d+

app.recipe.search_by_pattern:
    path:     /recettes/search
    defaults: { _controller: AppBundle:Recipe:searchByPattern }

app.recipe.random:
    path:     /recettes/random
    defaults: { _controller: AppBundle:Recipe:random }

app.recipe.widgetize:
    path:     /recettes/{id}/widget
    defaults: { _controller: AppBundle:Recipe:widgetize }
    requirements:
        id: \d+
    options:
        expose: true
