app.user.registration:
    path:     /register
    defaults: { _controller: AppBundle:User:register }

app.user.profile:
    path:     /profile
    defaults: { _controller: AppBundle:User:profile }

app.user.details:
    path:     /users/{id}
    defaults: { _controller: AppBundle:User:details }
    requirements:
        id: \d+