{% extends ':default:layout-empty.html.twig' %}
{% set page = 'login' %}

{% block content %}
    <div class="container container--xs">
        <div class="text-center">
            <a href="{{ path('index') }}" class="logo logo-lg">
                <i class="glyphicon glyphicon-heart-empty"></i>
                <span>Shopping List</span>
            </a>
        </div>

        <form action="{{ path('app.security.login_check') }}" method="post" class="form-horizontal">
            <div class="col-xs-12">
                <div class="form-group">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Votre e-mail" />
                    <i class="zmdi zmdi-account-circle form-control-feedback l-h-34"></i>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="Votre mot de passe" />
                    <i class="zmdi zmdi-key form-control-feedback l-h-34"></i>
                </div>
            </div>
            {#
                Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
                (plus de détails ci-dessous)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="checkbox checkbox-primary">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup"> Remember me </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">login</button>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <small>
                        <a href="#" class="text-muted pull-left">
                            <i class="fa fa-lock m-r-5"></i>
                            Forgot your password?
                        </a>
                        <a href="{{ path('app.user.registration') }}" class="text-muted pull-right">Create an account</a>
                    </small>
                </div>
            </div>


        </form>
    </div>
{% endblock %}