$icon-font-path: '/assets/vendor/bootstrap-sass/assets/fonts/bootstrap/';

@import "core/config/bootstrap-variables";

@import "../../../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass";

@import "core/layout";
@import "core/override";
@import "core/_partials/form";
@import "core/_partials/button";
@import "core/_partials/h";
@import "core/_partials/modal";
@import "core/jquery-ui-theme";

@import "pages/home";
@import "pages/login";