$icon-font-path: '/assets/vendor/bootstrap-sass/assets/fonts/bootstrap/';

@import "core/config/bootstrap-variables";

@import "../../../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass";

@import "core/layout";
@import "core/override";