.voice-feature {
    width: 320px;
    position: fixed;
    right: 0;
    top: 100px;
    padding: 10px;
    background: #eee;
    -webkit-transition: all 0.35s ease-in;
    -moz-box-shadow: 0px 0px 5px 0px #c0c0c0;
    -webkit-box-shadow: 0px 0px 5px 0px #c0c0c0;
    -o-box-shadow: 0px 0px 5px 0px #c0c0c0;
    box-shadow: 0px 0px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=NaN, Strength=5);

    .trigger {
        margin: 0 0 0 15px;
        border-radius: 0;
        width: 46px;

        &:focus {
            outline: none;
        }
    }

    input {
        min-width: 250px;
        border-radius: 0;
        border: none;
    }

    textarea {
        padding: 0.5em;
        width: 100%;
        -webkit-transition: all 0.35s ease-in;
    }

    .debug__content {
        font-size: 14px;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.35s ease-in;

        &.is-active {
            display: block;
            max-height: 500px;
        }
    }
    .debug__btn {
        width: 100%;
    }

    .spoken-response {
        max-height: 0;
        margin: 10px 0 0 0;
        overflow: hidden;
        -webkit-transition: all 0.35s ease-in;

        &.is-active {
            max-height: 400px;
        }
    }
    .spoken-response__text {
        padding: 1em;
        background-color: #fff;
    }
}