{% extends ':default:layout.html.twig' %}

{% block content %}
    <h1>Profile de {{ user.username }}</h1>

    <h2>Ses recettes</h2>

    <div class="row">
        {% for recipe in recipes %}
            {% include '@App/Recipe/recipe-widget.html.twig' %}
        {% endfor %}
    </div>
{% endblock content %}