{% extends ':default:layout.html.twig' %}

{% block content %}
    <div class="container-fluid">

        <h1>Les dernières recettes ajoutées</h1>

        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col-xs-12 col-sm-3">
                            {% include '@App/Recipe/widgets/shoppinglist-recipe-simple.html.twig' %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>
{% endblock content %}